<div>

    <h1>Wprowadź informacje na temat poboru próby</h1>

    <p>Numer serii: </p>
    <input matInput #first [(ngModel)]='numerSerii'>

    <p>Numer próby: </p> 
    <input matInput #second [(ngModel)]='numerProby'>

    <p>Nazwa materiału: </p>
    <input matInput #third [(ngModel)]='nazwaMaterialu'>

    <p>Symbol magazynowy: </p>
    <input matInput #forth [(ngModel)]='symbolMagazynowy'>

    <p>Rodzaj próby: </p>
    <input matInput #fifth [(ngModel)]='rodzajProby'>

    <p></p>
    <button>Pobierz próbę</button>

</div>
