<div>

    <h1>Wprowadź informacje na temat poboru próby</h1>

    <table style="width:100%">
        <tr>
          <th>NUMER SERII</th>
          <th>NUMER PRÓBY</th> 
          <th>NAZWA MATERIAŁU</th>
          <th>SYMBOL MAGAZYNOWY</th>
          <th>RODZAJ PRÓBY</th>
          <th></th>
        </tr>

        <tr *ngFor="let sample of samples">
            <td>{{ sample.numerSerii }}</td>
            <td>{{ sample.numerProby }}</td>
            <td>{{ sample.nazwaMaterialu }}</td>
            <td>{{ sample.symbolMagazynowy }}</td>
            <td>{{ sample.rodzajProby }}</td> 
            <td><button (click)="pobierz(sample._id)">Pobór próby</button></td>
        </tr>

    </table>

</div>
